In [64]:
import pandas as pd

In [65]:
df=pd.read_csv('Airbnb_Data.csv',encoding='latin1')

In [66]:
df.head()

,id,log_price,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,...,latitude,longitude,name,neighbourhood,number_of_reviews,review_scores_rating,thumbnail_url,zipcode,bedrooms,beds
0,6901257,5.010635,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",3,1.0,Real Bed,strict,True,...,40.696524,-73.991617,Beautiful brownstone 1-bedroom,Brooklyn Heights,2,100.0,https://a0.muscache.com/im/pictures/6d7cbbf7-c...,11201,1.0,1.0
1,6304928,5.129899,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",7,1.0,Real Bed,strict,True,...,40.766115,-73.989040,Superb 3BR Apt Located Near Times Square,Hell's Kitchen,6,93.0,https://a0.muscache.com/im/pictures/348a55fe-4...,10019,3.0,3.0
2,7919400,4.976734,Apartment,Entire home/apt,"{TV,""Cable TV"",""Wireless Internet"",""Air condit...",5,1.0,Real Bed,moderate,True,...,40.808110,-73.943756,The Garden Oasis,Harlem,10,92.0,https://a0.muscache.com/im/pictures/6fae5362-9...,10027,1.0,3.0
3,13418779,6.620073,House,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",4,1.0,Real Bed,flexible,True,...,37.772004,-122.431619,Beautiful Flat in the Heart of SF!,Lower Haight,0,NaN,https://a0.muscache.com/im/pictures/72208dad-9...,94117,2.0,2.0
4,3808709,4.744932,Apartment,Entire home/apt,"{TV,Internet,""Wireless Internet"",""Air conditio...",2,1.0,Real Bed,moderate,True,...,38.925627,-77.034596,Great studio in midtown DC,Columbia Heights,4,40.0,NaN,20009,0.0,1.0

In [67]:
df.isnull().sum()

id                            0
log_price                     0
property_type                 0
room_type                     0
amenities                     0
accommodates                  0
bathrooms                   200
bed_type                      0
cancellation_policy           0
cleaning_fee                  0
city                          0
description                   0
first_review              15864
host_has_profile_pic        188
host_identity_verified      188
host_response_rate        18299
host_since                  188
instant_bookable              0
last_review               15827
latitude                      0
longitude                     0
name                          0
neighbourhood              6872
number_of_reviews             0
review_scores_rating      16722
thumbnail_url              8216
zipcode                     966
bedrooms                     91
beds                        131
dtype: int64

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74111 entries, 0 to 74110
Data columns (total 29 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      74111 non-null  int64
 1   log_price               74111 non-null  float64
 2   property_type           74111 non-null  object
 3   room_type               74111 non-null  object
 4   amenities               74111 non-null  object
 5   accommodates            74111 non-null  int64
 6   bathrooms               73911 non-null  float64
 7   bed_type                74111 non-null  object
 8   cancellation_policy     74111 non-null  object
 9   cleaning_fee            74111 non-null  bool
 10  city                    74111 non-null  object
 11  description             74111 non-null  object
 12  first_review            58247 non-null  object
 13  host_has_profile_pic    73923 non-null  object
 14  host_identity_verified  73923 non-null  object
 15  host_response_rate      55812 non-null  object
 16  host_since              73923 non-null  object
 17  instant_bookable        74111 non-null  object
 18  last_review             58284 non-null  object
 19  latitude                74111 non-null  float64
 20  longitude               74111 non-null  float64
 21  name                    74111 non-null  object
 22  neighbourhood           67239 non-null  object
 23  number_of_reviews       74111 non-null  int64
 24  review_scores_rating    57389 non-null  float64
 25  thumbnail_url           65895 non-null  object
 26  zipcode                 73145 non-null  object
 27  bedrooms                74020 non-null  float64
 28  beds                    73980 non-null  float64
dtypes: bool(1), float64(7), int64(3), object(18)
memory usage: 15.9+ MB

In [69]:
df.describe()

,id,log_price,accommodates,bathrooms,latitude,longitude,number_of_reviews,review_scores_rating,bedrooms,beds
count,7.411100e+04,74111.000000,74111.000000,73911.000000,74111.000000,74111.000000,74111.000000,57389.000000,74020.000000,73980.000000
mean,1.126662e+07,4.782069,3.155146,1.235263,38.445958,-92.397525,20.900568,94.067365,1.265793,1.710868
std,6.081735e+06,0.717394,2.153589,0.582044,3.080167,21.705322,37.828641,7.836556,0.852143,1.254142
min,3.440000e+02,0.000000,1.000000,0.000000,33.338905,-122.511500,0.000000,20.000000,0.000000,0.000000
25%,6.261964e+06,4.317488,2.000000,1.000000,34.127908,-118.342374,1.000000,92.000000,1.000000,1.000000
50%,1.225415e+07,4.709530,2.000000,1.000000,40.662138,-76.996965,6.000000,96.000000,1.000000,1.000000
75%,1.640226e+07,5.220356,4.000000,1.000000,40.746096,-73.954660,23.000000,100.000000,1.000000,2.000000
max,2.123090e+07,7.600402,16.000000,8.000000,42.390437,-70.985047,605.000000,100.000000,10.000000,18.000000

In [70]:
df['bathrooms'].fillna(df['bathrooms'].median(), inplace=True)
df['bedrooms'].fillna(df['bedrooms'].mode()[0], inplace=True)
df['beds'].fillna(df['beds'].mode()[0], inplace=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_10064\173330452.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['bathrooms'].fillna(df['bathrooms'].median(), inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_10064\173330452.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['bedrooms'].fillna(df['bedrooms'].mode()[0], inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_10064\173330452.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['beds'].fillna(df['beds'].mode()[0], inplace=True)

In [71]:
columns=['id','name','thumbnail_url','first_review','last_review','host_has_profile_pic','host_identity_verified','host_response_rate']

df.drop(columns=columns,inplace=True)

In [72]:
df.head()

,log_price,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,city,...,host_since,instant_bookable,latitude,longitude,neighbourhood,number_of_reviews,review_scores_rating,zipcode,bedrooms,beds
0,5.010635,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",3,1.0,Real Bed,strict,True,NYC,...,26-03-2012,f,40.696524,-73.991617,Brooklyn Heights,2,100.0,11201,1.0,1.0
1,5.129899,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",7,1.0,Real Bed,strict,True,NYC,...,19-06-2017,t,40.766115,-73.989040,Hell's Kitchen,6,93.0,10019,3.0,3.0
2,4.976734,Apartment,Entire home/apt,"{TV,""Cable TV"",""Wireless Internet"",""Air condit...",5,1.0,Real Bed,moderate,True,NYC,...,25-10-2016,t,40.808110,-73.943756,Harlem,10,92.0,10027,1.0,3.0
3,6.620073,House,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",4,1.0,Real Bed,flexible,True,SF,...,19-04-2015,f,37.772004,-122.431619,Lower Haight,0,NaN,94117,2.0,2.0
4,4.744932,Apartment,Entire home/apt,"{TV,Internet,""Wireless Internet"",""Air conditio...",2,1.0,Real Bed,moderate,True,DC,...,01-03-2015,t,38.925627,-77.034596,Columbia Heights,4,40.0,20009,0.0,1.0

In [73]:
columns_to_keep=['log_price','property_type','room_type','amenities','bathrooms','bedrooms','beds','city','neighbourhood','zipcode','latitude','longitude']

df=df[columns_to_keep]

In [74]:
df.isnull().sum()

log_price           0
property_type       0
room_type           0
amenities           0
bathrooms           0
bedrooms            0
beds                0
city                0
neighbourhood    6872
zipcode           966
latitude            0
longitude           0
dtype: int64

In [75]:
df.dtypes

log_price        float64
property_type     object
room_type         object
amenities         object
bathrooms        float64
bedrooms         float64
beds             float64
city              object
neighbourhood     object
zipcode           object
latitude         float64
longitude        float64
dtype: object

In [76]:
df['neighbourhood'].fillna('Unknown',inplace=True)
df['zipcode'].fillna(df['zipcode'].mode()[0], inplace=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_10064\398717262.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['neighbourhood'].fillna('Unknown',inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_10064\398717262.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['zipcode'].fillna(df['zipcode'].mode()[0], inplace=True)

In [77]:
df['bathrooms']=df['bathrooms'].astype(int)
df['bedrooms']=df['bedrooms'].astype(int)
df['beds']=df['beds'].astype(int)

## Feature Engineering 
  ## 1. Amenities - multi-label binary encoding

In [79]:
import re

def parse_amenities(amenities_str):
    try:
        items=re.findall(r'"(.*?)"',amenities_str)
        return items
    except:
        return []
    
df['amenities_list']=df['amenities'].apply(parse_amenities)

In [80]:
df.head()

,log_price,property_type,room_type,amenities,bathrooms,bedrooms,beds,city,neighbourhood,zipcode,latitude,longitude,amenities_list
0,5.010635,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",1,1,1,NYC,Brooklyn Heights,11201,40.696524,-73.991617,"[Wireless Internet, Air conditioning, Family/k..."
1,5.129899,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",1,3,3,NYC,Hell's Kitchen,10019,40.766115,-73.989040,"[Wireless Internet, Air conditioning, Family/k..."
2,4.976734,Apartment,Entire home/apt,"{TV,""Cable TV"",""Wireless Internet"",""Air condit...",1,1,3,NYC,Harlem,10027,40.808110,-73.943756,"[Cable TV, Wireless Internet, Air conditioning..."
3,6.620073,House,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",1,2,2,SF,Lower Haight,94117,37.772004,-122.431619,"[Cable TV, Wireless Internet, Indoor fireplace..."
4,4.744932,Apartment,Entire home/apt,"{TV,Internet,""Wireless Internet"",""Air conditio...",1,0,1,DC,Columbia Heights,20009,38.925627,-77.034596,"[Wireless Internet, Air conditioning, Elevator..."

In [81]:
## Turning the most common amenities into binary features like:
## has_wifi
## has_kitchen
## has_tv

from collections import Counter

## Flatten lists pf all amenities 
all_amenties=[amenity for sublist in df['amenities_list'] for amenity in sublist]

## Counting most common ones
top_amenities=[amenity for amenity, count in Counter(all_amenties).most_common(15)]

print(top_amenities)

['Wireless Internet', 'Smoke detector', 'Air conditioning', 'Carbon monoxide detector', 'Laptop friendly workspace', 'Hair dryer', 'Family/kid friendly', 'Fire extinguisher', 'First aid kit', 'translation missing: en.hosting_amenity_50', 'Cable TV', 'Free parking on premises', 'translation missing: en.hosting_amenity_49', '24-hour check-in', 'Lock on bedroom door']

In [82]:
# Create binary columns like has_wifi, has_kitchen

for amenity in top_amenities:
    col_name='has_'+amenity.lower().replace(' ','_').replace('-','_').replace('/','_')
    df[col_name]=df['amenities_list'].apply(lambda x: 1 if amenity in x else 0)

In [83]:
## Droping 'amenities' and 'amenities_list'

df.drop(['amenities','amenities_list'], axis=1, inplace=True)

In [84]:
## One-hot encode 'room_type' and 'property_type' 

df=pd.get_dummies(df,columns=['room_type','property_type'], drop_first=True)

In [85]:
df.head()

,log_price,bathrooms,bedrooms,beds,city,neighbourhood,zipcode,latitude,longitude,has_wireless_internet,...,property_type_Serviced apartment,property_type_Tent,property_type_Timeshare,property_type_Tipi,property_type_Townhouse,property_type_Train,property_type_Treehouse,property_type_Vacation home,property_type_Villa,property_type_Yurt
0,5.010635,1,1,1,NYC,Brooklyn Heights,11201,40.696524,-73.991617,1,...,False,False,False,False,False,False,False,False,False,False
1,5.129899,1,3,3,NYC,Hell's Kitchen,10019,40.766115,-73.989040,1,...,False,False,False,False,False,False,False,False,False,False
2,4.976734,1,1,3,NYC,Harlem,10027,40.808110,-73.943756,1,...,False,False,False,False,False,False,False,False,False,False
3,6.620073,1,2,2,SF,Lower Haight,94117,37.772004,-122.431619,1,...,False,False,False,False,False,False,False,False,False,False
4,4.744932,1,0,1,DC,Columbia Heights,20009,38.925627,-77.034596,1,...,False,False,False,False,False,False,False,False,False,False

In [86]:
## Label Encode 'neighbourhood','city','zipcode'

from sklearn.preprocessing import LabelEncoder

for col in ['neighbourhood','zipcode']:
    le= LabelEncoder()
    df[col]= le.fit_transform(df[col])

In [87]:
df.head()

,log_price,bathrooms,bedrooms,beds,city,neighbourhood,zipcode,latitude,longitude,has_wireless_internet,...,property_type_Serviced apartment,property_type_Tent,property_type_Timeshare,property_type_Tipi,property_type_Townhouse,property_type_Train,property_type_Treehouse,property_type_Vacation home,property_type_Villa,property_type_Yurt
0,5.010635,1,1,1,NYC,77,106,40.696524,-73.991617,1,...,False,False,False,False,False,False,False,False,False,False
1,5.129899,1,3,3,NYC,252,20,40.766115,-73.989040,1,...,False,False,False,False,False,False,False,False,False,False
2,4.976734,1,1,3,NYC,247,27,40.808110,-73.943756,1,...,False,False,False,False,False,False,False,False,False,False
3,6.620073,1,2,2,SF,325,651,37.772004,-122.431619,1,...,False,False,False,False,False,False,False,False,False,False
4,4.744932,1,0,1,DC,119,211,38.925627,-77.034596,1,...,False,False,False,False,False,False,False,False,False,False

In [102]:
## Convert log price to actual price 
## Model Selection - RandomForestRegressor

from sklearn.metrics import mean_squared_error, r2_score
import numpy as np



#df['price']=np.exp(df['log_price'])

In [103]:
#df.drop('log_price', axis=1, inplace=True)

In [104]:
## Model Building and Training

X= df.drop(['log_price'], axis=1)
y= df['log_price']

In [105]:
'''
df_raw=pd.read_csv('Airbnb_Data.csv',encoding='latin1')
print(df_raw['city'].unique())
df['city']=df_raw['city']
 '''

"\ndf_raw=pd.read_csv('Airbnb_Data.csv',encoding='latin1')\nprint(df_raw['city'].unique())\ndf['city']=df_raw['city']\n "

In [107]:
print([col for col in df.columns if col.startswith("city_")])

['city_Boston', 'city_Chicago', 'city_DC', 'city_LA', 'city_NYC', 'city_SF']

In [108]:
df.head()

,log_price,bathrooms,bedrooms,beds,neighbourhood,zipcode,latitude,longitude,has_wireless_internet,has_smoke_detector,...,property_type_Treehouse,property_type_Vacation home,property_type_Villa,property_type_Yurt,city_Boston,city_Chicago,city_DC,city_LA,city_NYC,city_SF
0,5.010635,1,1,1,77,106,40.696524,-73.991617,1,0,...,False,False,False,False,False,False,False,False,True,False
1,5.129899,1,3,3,252,20,40.766115,-73.989040,1,1,...,False,False,False,False,False,False,False,False,True,False
2,4.976734,1,1,3,247,27,40.808110,-73.943756,1,1,...,False,False,False,False,False,False,False,False,True,False
3,6.620073,1,2,2,325,651,37.772004,-122.431619,1,1,...,False,False,False,False,False,False,False,False,False,True
4,4.744932,1,0,1,119,211,38.925627,-77.034596,1,1,...,False,False,False,False,False,False,True,False,False,False

In [ ]:
## Converting City type from bools to int i.e - True =1 and False = 0
bool_cols = X.select_dtypes(include='bool').columns
X[bool_cols] = X[bool_cols].astype(int)

In [110]:
X.head()

,bathrooms,bedrooms,beds,neighbourhood,zipcode,latitude,longitude,has_wireless_internet,has_smoke_detector,has_air_conditioning,...,property_type_Treehouse,property_type_Vacation home,property_type_Villa,property_type_Yurt,city_Boston,city_Chicago,city_DC,city_LA,city_NYC,city_SF
0,1,1,1,77,106,40.696524,-73.991617,1,0,1,...,0,0,0,0,0,0,0,0,1,0
1,1,3,3,252,20,40.766115,-73.989040,1,1,1,...,0,0,0,0,0,0,0,0,1,0
2,1,1,3,247,27,40.808110,-73.943756,1,1,1,...,0,0,0,0,0,0,0,0,1,0
3,1,2,2,325,651,37.772004,-122.431619,1,1,0,...,0,0,0,0,0,0,0,0,0,1
4,1,0,1,119,211,38.925627,-77.034596,1,1,1,...,0,0,0,0,0,0,1,0,0,0

In [111]:
## Train - Test Split

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test= train_test_split(X,y, test_size=0.2, random_state=42)

In [112]:
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np

In [113]:

# Model initialization
xgb_model = XGBRegressor(n_estimators=200, learning_rate=0.2, random_state=42)

# Training
xgb_model.fit(X_train, y_train)

# Prediction
y_pred_xgb = xgb_model.predict(X_test)

# Evaluation
rmse_xgb = np.sqrt(mean_squared_error(y_test, y_pred_xgb))
r2_xgb = r2_score(y_test, y_pred_xgb)

print(f"XGBoost RMSE: {rmse_xgb:.3f}")  # Root Mean Squared Error
print(f"XGBoost R2: {r2_xgb:.3f}")      # R-squared Score

XGBoost RMSE: 0.409
XGBoost R2: 0.675

## Deployment using Streamlit

In [114]:
import pickle

In [116]:
df.columns

Index(['log_price', 'bathrooms', 'bedrooms', 'beds', 'neighbourhood',
       'zipcode', 'latitude', 'longitude', 'has_wireless_internet',
       'has_smoke_detector', 'has_air_conditioning',
       'has_carbon_monoxide_detector', 'has_laptop_friendly_workspace',
       'has_hair_dryer', 'has_family_kid_friendly', 'has_fire_extinguisher',
       'has_first_aid_kit', 'has_translation_missing:_en.hosting_amenity_50',
       'has_cable_tv', 'has_free_parking_on_premises',
       'has_translation_missing:_en.hosting_amenity_49',
       'has_24_hour_check_in', 'has_lock_on_bedroom_door',
       'room_type_Private room', 'room_type_Shared room',
       'property_type_Bed & Breakfast', 'property_type_Boat',
       'property_type_Boutique hotel', 'property_type_Bungalow',
       'property_type_Cabin', 'property_type_Camper/RV',
       'property_type_Casa particular', 'property_type_Castle',
       'property_type_Cave', 'property_type_Chalet',
       'property_type_Condominium', 'property_type_Dorm',
       'property_type_Earth House', 'property_type_Guest suite',
       'property_type_Guesthouse', 'property_type_Hostel',
       'property_type_House', 'property_type_Hut', 'property_type_In-law',
       'property_type_Island', 'property_type_Lighthouse',
       'property_type_Loft', 'property_type_Other',
       'property_type_Parking Space', 'property_type_Serviced apartment',
       'property_type_Tent', 'property_type_Timeshare', 'property_type_Tipi',
       'property_type_Townhouse', 'property_type_Train',
       'property_type_Treehouse', 'property_type_Vacation home',
       'property_type_Villa', 'property_type_Yurt', 'city_Boston',
       'city_Chicago', 'city_DC', 'city_LA', 'city_NYC', 'city_SF'],
      dtype='object')

In [117]:
final_model_feaures=X.columns.tolist()

In [118]:
with open("villa_price_prediction.pkl","wb") as file:
    pickle.dump(xgb_model,file)

with open("model_columns.pkl","wb") as f:
    pickle.dump(final_model_feaures,f)

In [119]:
print("Final features used in model:", final_model_feaures)
print("Total:", len(final_model_feaures))

Final features used in model: ['bathrooms', 'bedrooms', 'beds', 'neighbourhood', 'zipcode', 'latitude', 'longitude', 'has_wireless_internet', 'has_smoke_detector', 'has_air_conditioning', 'has_carbon_monoxide_detector', 'has_laptop_friendly_workspace', 'has_hair_dryer', 'has_family_kid_friendly', 'has_fire_extinguisher', 'has_first_aid_kit', 'has_translation_missing:_en.hosting_amenity_50', 'has_cable_tv', 'has_free_parking_on_premises', 'has_translation_missing:_en.hosting_amenity_49', 'has_24_hour_check_in', 'has_lock_on_bedroom_door', 'room_type_Private room', 'room_type_Shared room', 'property_type_Bed & Breakfast', 'property_type_Boat', 'property_type_Boutique hotel', 'property_type_Bungalow', 'property_type_Cabin', 'property_type_Camper/RV', 'property_type_Casa particular', 'property_type_Castle', 'property_type_Cave', 'property_type_Chalet', 'property_type_Condominium', 'property_type_Dorm', 'property_type_Earth House', 'property_type_Guest suite', 'property_type_Guesthouse', 'property_type_Hostel', 'property_type_House', 'property_type_Hut', 'property_type_In-law', 'property_type_Island', 'property_type_Lighthouse', 'property_type_Loft', 'property_type_Other', 'property_type_Parking Space', 'property_type_Serviced apartment', 'property_type_Tent', 'property_type_Timeshare', 'property_type_Tipi', 'property_type_Townhouse', 'property_type_Train', 'property_type_Treehouse', 'property_type_Vacation home', 'property_type_Villa', 'property_type_Yurt', 'city_Boston', 'city_Chicago', 'city_DC', 'city_LA', 'city_NYC', 'city_SF']
Total: 64